:root {
    --primary-800:#4c3387;
    --primary-900:#382562;
}

body {
    margin: 0;
    font-family: "Inter var", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    --font-family: "Inter var", sans-serif;
    --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    height: 100vh;
    background-image: url('https://img.freepik.com/vector-premium/cinema-patron-costura-simbolos-produccion-peliculas-ilustracion-vectorial-dibujada-mano-sobre-fondo-blanco_178650-20495.jpg?w=740');
}

h1 {
    color: var(--primary-900);
}

a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 11px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }
}

.text-sm {
    font-size: 0.875rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 0.5rem 0;
    gap: 1rem;
}

.p-button {
    color: #ffffff;
    background: var(--primary-800);
    border: 1px solid var(--primary-800);
    padding: 0.65625rem 1.09375rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    outline-color: transparent;
    margin-top: 1.5rem;
}

.p-button-text {
    background-color: transparent;
    color: var(--primary-800);
    border-color: transparent;
    /* padding: 0.65625rem 1.09375rem; */
}

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #444;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.6s, visibility 0.6s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.shadow {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}